<div class="container mt-4">
  <div class="row">
    <app-chart class="col-12 col-md-6"></app-chart>
    <app-chat class="col-12 col-md-6"></app-chat>
  </div>
</div>



<router-outlet></router-outlet>
