<div *ngIf="chartService.data">
  <div>
    <canvas baseChart
            [datasets]="chartService.data"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="chartLegend"
            [chartType]="chartType"
            [colors]="colors"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  <br><br>
  <ul>
    <li *ngFor='let data of chartService.bradcastedData'>
      <strong>Label: </strong> {{data.label}} - <strong>Value: </strong> {{data.data[0]}}
    </li>
  </ul>
</div>
<button *ngIf="!chartService.data" class="btn btn-outline-primary" (click)="getDataFromService()" >Get Data for all users</button>
