<button *ngIf="!hubConnected" class="btn btn-outline-primary" (click)="openChat()">Open chat</button>

<div *ngIf="hubConnected">
  <div *ngIf="!hideName" class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Enter name" aria-label="Enter name" [(ngModel)]="senderName" (keyup.enter)="hideNameEvent()">
    <div class="input-group-append">
      <button class="btn btn-outline-success" type="button" id="button-addon2" (click)="hideNameEvent()">Send Name</button>
    </div>
  </div>
  <div *ngIf="hideName">
    <h3>Chat Window</h3>
    <div>
      <p *ngFor="let item of chatService.chatMessages">
        <b>{{ item.name }}:</b> {{ item.message }}
      </p>
      <p>{{ chatService.isTyping }}</p>
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Message" aria-label="Message" (keyup.enter)="sendMessage()" [(ngModel)]="chatMessage" (keyup)="typing()">
      <div class="input-group-append">
        <button class="btn btn-outline-success" type="button" id="button-addon2" (click)="sendMessage()">Send Message</button>
      </div>
    </div>
  </div>
</div>
